<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration>
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MariaDB53Dialect</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost/bug-tracker</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">update</property>

		<mapping class="com.shimada.user.model.UserEntity" />
		<mapping class="com.shimada.collaborator.model.CollaboratorEntity" />
		<mapping class="com.shimada.project.model.ProjectEntity" />
		<mapping class="com.shimada.ticket.model.TicketEntity" />
	</session-factory>
</hibernate-configuration>
